<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="LocalSql"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=(local)\SQLEXPRESS;AttachDBFileName=|DataDirectory|SqlClrTest.mdf; Integrated security=True; User Instance=True;" />
  </connectionStrings>
</configuration>